/* color varible */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

:root{
    --red:#ED1C24;
    --white:#FFFFFF;
    --black:#000000;
    font-family: 'Poppins', sans-serif;
}

/* Styling start Nav-bar */
#navbar-items{

    gap: 30px;
}

#navbar{
    padding: 0px 100px;
}

#main-logo{
    width: 165px;
}

.nav-link{
    text-decoration: none;
}

#franchise{
background-color: transparent;
border: 1px solid white;
cursor: pointer;
padding: 15px 20px;
}

#onder-online{
    background-color: var(--red);
    cursor: pointer;
    padding: 15px 13.5px;
    border: 0px;


}

#btn-icon{
    padding: 5px 7px;
}

#red{
  color: var(--red);
  
}

#children-images{
    gap: 30px;
}

.bold{
    font-size: 52px;
    font-family:'Rubik Burned', system-ui; 
}
/* Styling End Nav-bar */

/* returant area started */
#Restaurants{
    gap: 50px;
}

/* returant area Ended */

/* Express Aera Started */
#Express{
    gap: 20px;
}

.img-express{
    width: 100%;
    height: 350px;
}
/* Express Aera Ended */

/* .main-contaner{
    width: 1200 !important;
} */

/* footer Area Started... */

    /* width: 1200px; */

/* footer Area Ended... */
